@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    font-family: GmarketSansMedium;

}


#header #menu_bar{
    height: 100px;
    width: 100%;
    border-width: 0px 0px 1px 0px ;
    border-style: solid;
    border-color: rgb(94, 255, 0);
    background-color:rgb(255, 255, 255);
    font-family: GmarketSansBold;
    font-size: 36px;
    /* margin-top: 50%; */
}
.describe{
    height: 100px;
    width: 200px;
    background-color:white;
    border: 2px solid #000;
}

#submitBtn{
    width: 400px;
    height: 50px;
    background-color: white;
    color: #000;
    cursor: pointer;
    border-width: 2px 2px 2px 2px ;
    border-style: solid;
    border-color: rgb(94, 255, 0);
    font-size: 18px;
    border-radius: 2px;
    margin: auto;
}
#custom_file_upload{
    display: inline-block;
    padding: 10px;
    width: 400px;
    height: 50px;
    margin-top: 100px;
    background-color: white;
    color: #000;
    cursor: pointer;
    border-width: 2px 2px 2px 2px ;
    border-style: dashed;
    border-color: rgb(94, 255, 0);
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
#banner{
    height: 100px;
    width: 800px;
    font-size: 100px;
    background-color: rgb(94, 255, 0);
    margin: 40px auto;
    text-align: center;
}
#drop-zone {
    height: 300px;
    width: 1200px;
    margin: 10px auto;
    text-align: center;
    background-color: white;
    cursor: pointer;
    border-width: 2px 2px 2px 2px ;
    border-style: solid;
    border-color: rgb(94, 255, 0);
}

#list {
    margin: 10px 0;
}


.button {
    display: inline-block;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #3e8e41;
}

.hidden {
    display: none;
}


.flex-container{
    display: flex;
    flex-flow: wrap-reverse;
    height: auto;
    width: 1000px;
    padding: auto;
    border-radius: 10px;
    margin: 100px auto;


}
/* .flex-container.stretch{align-content: stretch;} */
.flex-container.stretch{justify-content: space-around;}

 
.describe_item{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    padding: 10px auto;
    color: #000;

    
}
.describe_title{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: GmarketSansMedium;
}
.describe_content{
    font-size: 14px;
    text-align: center;
    width: 250px;
    margin: auto;
    font-family: GmarketSansLight;

}


.describe_img{
    margin: 10px auto;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 8px;
}
